.veticallyBox{
	display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    
	-webkit-box-align: center;
    -ms-flex-align: center;
    
  	-webkit-align-items: center;
    -moz-align-items: center;
   	align-items: center;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.veticallyItems{
	webkit-box-align: center;
    -ms-flex-align: center;
   -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}